@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: #1a1b1e;
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    color: #9da3a9;
  }

  .container {
    margin: 0 auto;
  }

  .tier-card-common {
    background-repeat: no-repeat;
    background-position: right 20%, top right;
    background-size: 40%, 100% 48%;
  }
  .tier-card-eternity {
    background-image:url('/images/tiers/eternity.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-eternity));
    @apply tier-card-common
  }
  .tier-card-demigod {
    background-image:url('/images/tiers/demigod.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-demigod));
    @apply tier-card-common
  }
  .tier-card-mithril {
    background-image:url('/images/tiers/mithril.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-mithril));
    @apply tier-card-common
  }
  .tier-card-diamond {
    background-image:url('/images/tiers/diamond.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-diamond));
    @apply tier-card-common
  }
  .tier-card-platinum {
    background-image:url('/images/tiers/platinum.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-platinum));
    @apply tier-card-common
  }
  .tier-card-gold {
    background-image:url('/images/tiers/gold.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-gold));
    @apply tier-card-common
  }
  .tier-card-silver {
    background-image:url('/images/tiers/silver.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-silver));
    @apply tier-card-common
  }
  .tier-card-bronze {
    background-image:url('/images/tiers/bronze.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-bronze));
    @apply tier-card-common
  }
  .tier-card-iron {
    background-image:url('/images/tiers/iron.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-iron));
    @apply tier-card-common
  }
  .tier-card-unrank {
    background-image:url('/images/tiers/unrank.png'), linear-gradient(90deg,  rgb(26, 27, 30) 15%, var(--color-unrank));
    @apply tier-card-common
  }

}

@layer utilities {
  .tooltip {
    width: 300px !important;
    z-index:10
  }
}

@layer base {
  body {
    background-color: var(--color-gray);
  }

  :root {
    /* 배경 컬러 */
    --color-gray: #373737;
    /* 티어 컬러 */
    --color-unrank: #818691;
    --color-iron: #4e5458;
    --color-bronze: #ac5a2b;
    --color-silver: #e7eaf4;
    --color-gold: #ffe88c;
    --color-platinum: #4ea7b5;
    --color-diamond: #d8c7de;
    --color-mithril: #2b4572;
    --color-demigod: #e2e7cb;
    --color-eternity: #cd316a;

    /* 아이템 컬러 */
    --color-common-bottom: #5b5e60;
    --color-uncommon-bottom: #476b4a;
    --color-rare-bottom: #344a6d;
    --color-epic-bottom: #654987;
    --color-legend-bottom: #9c7633;
    --color-mythic-bottom: #a04343;

    --color-common-top: #252626;
    --color-uncommon-top: #1f261a;
    --color-rare-top: #222631;
    --color-epic-top: #292639;
    --color-legend-top: #352c20;
    --color-mythic-top: #3d2120;

    --color-common-border: #696969;
    --color-uncommon-border: #68814c;
    --color-rare-border: #465f86;
    --color-epic-border: #a68f4a;
    --color-legend-border: #a68f4a;
    --color-mythic-border: #3d2120;
  }
}